@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

:root {
  --headerFont: 'Big Shoulders Display', cursive;
  --paragraphFont: 'Lexend Deca', sans-serif;
  --orangeBackground: hsl(31, 77%, 52%);
  --cyanBackground: hsl(184, 100%, 22%);
  --darkCyanBackground: hsl(179, 100%, 13%);
  --paragraphColor: hsla(0, 0%, 100%, 0.75);
  --headColor: hsl(0, 0%, 95%);
}

html,
body {
  height: 100%;
}

body {
  font-size: 0.938rem;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.main__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.card {
  padding: 2rem;
}

.card__text h1 {
  font-family: var(--headerFont);
  font-size: 1.7rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--headColor);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.card__text p {
  font-family: var(--paragraphFont);
  font-weight: 400;
  line-height: 1.4;
  color: var(--paragraphColor);
  padding-bottom: 3rem;
}

.sedan__background {
  background-color: var(--orangeBackground);
}

.suvs__background {
  background-color: var(--cyanBackground);
}

.luxury__background {
  background-color: var(--darkCyanBackground);
}

.main__button {
  font-weight: 400;
  background: none;
  background-color: var(--headColor);
  border: 1px solid var(--headColor);
  border-radius: 50px;
  width: 60%;
  padding: 10px;
}

.sedan__background .main__button {
  color: var(--orangeBackground);
}

.sedan__background .main__button:hover {
  background-color: var(--orangeBackground);
  color: var(--headColor);
}

.suvs__background .main__button {
  color: var(--cyanBackground);
}

.suvs__background .main__button:hover {
  background-color: var(--cyanBackground);
  color: var(--headColor);
}

.luxury__background .main__button {
  color: var(--darkCyanBackground);
}

.luxury__background .main__button:hover {
  background-color: var(--darkCyanBackground);
  color: var(--headColor);
}

@media only screen and (max-width: 768px) {
  .card {
    padding: 0.1rem;
  }
  .main__card {
    flex-direction: column;
  }
}
